# Python
__pycache__/
*.pyc
*.pyo
.env

# EasyOCR models (pesanti, non servono su GitHub)
.EasyOCR/

# Temporanei
targhe_db.json.tmp
RiconoscimentoTargaV0.py
RiconoscimentoTargaV1.py
RiconoscimentoTargaBozzoli.py
RiconoscimentoTargaV2PreModifiche.py

indexV-1.html

testo.txt
testo.pub
